@font-face {
    font-family: "MonumentExtended-Bold";
    src: url("fonts/MonumentExtended-Bold.svg?");
    src: url("fonts/MonumentExtended-Bold.eot?#iefix") format("eot"),
    url("fonts/MonumentExtended-Bold.otf?") format("otf"),
    url("fonts/MonumentExtended-Bold.woff2") format("woff2"),
    url("fonts/MonumentExtended-Bold.woff") format("woff"),
    url("fonts/MonumentExtended-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended-book";
    src: url("fonts/MonumentExtended-Book.svg?");
    src: url("fonts/MonumentExtended-Book.eot?#iefix") format("eot"),
    url("fonts/MonumentExtended-Book.otf") format("otf"),
    url("fonts/MonumentExtended-Book.woff2") format("woff2"),
    url("fonts/MonumentExtended-Book.woff") format("woff"),
    url("fonts/MonumentExtended-Book.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended-medium";
    src: url("fonts/MonumentExtended-Medium.svg?");
    src: url("fonts/MonumentExtended-Medium.eot?#iefix") format("eot"),
    url("fonts/MonumentExtended-Medium.otf") format("otf"),
    url("fonts/MonumentExtended-Medium.woff2") format("woff2"),
    url("fonts/MonumentExtended-Medium.woff") format("woff"),
    url("fonts/MonumentExtended-Medium.ttf") format("truetype");
}


.monument-extended-bold {
    font-family: MonumentExtended-bold, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.monument-extended-book {
    font-family: MonumentExtended-book, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.monument-extended-medium {
    font-family: MonumentExtended-medium, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

