/*@font-face {*/
  /*font-family: "MonumentExtended-bold";*/
  /*src: url("fonts/MonumentExtended-bold.eot?#iefix") format("eot"),*/
  /*url("fonts/MonumentExtended-bold.otf?") format("otf"),*/
  /*url("fonts/MonumentExtended-bold.woff2") format("woff2"),*/
  /*url("fonts/MonumentExtended-bold.woff") format("woff"),*/
  /*url("fonts/MonumentExtended-bold.ttf") format("truetype");*/
/*}*/

/*@font-face {*/
  /*font-family: "MonumentExtended-book";*/
  /*src: url("fonts/MonumentExtended-book.eot?#iefix") format("eot"),*/
  /*url("fonts/MonumentExtended-book.otf") format("otf"),*/
  /*url("fonts/MonumentExtended-book.woff2") format("woff2"),*/
  /*url("fonts/MonumentExtended-book.woff") format("woff"),*/
  /*url("fonts/MonumentExtended-book.ttf") format("truetype");*/
/*}*/

/*@font-face {*/
  /*font-family: "MonumentExtended-medium";*/
  /*src: url("fonts/MonumentExtended-medium.eot?#iefix") format("eot"),*/
  /*url("fonts/MonumentExtended-medium.otf") format("otf"),*/
  /*url("fonts/MonumentExtended-medium.woff2") format("woff2"),*/
  /*url("fonts/MonumentExtended-medium.woff") format("woff"),*/
  /*url("fonts/MonumentExtended-medium.ttf") format("truetype");*/
/*}*/


/*.monument-extended-bold {*/
  /*font-family: MonumentExtended-bold, serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*font-smoothing: antialiased;*/
/*}*/

/*.monument-extended-book {*/
  /*font-family: MonumentExtended-book, serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*font-smoothing: antialiased;*/
/*}*/

/*.monument-extended-medium {*/
  /*font-family: MonumentExtended-medium, serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*font-smoothing: antialiased;*/
/*}*/


@font-face {
  font-family: "Emberly-Black";
  src: url("fonts/Emberly-Black.svg");
  src: url("fonts/Emberly-Black.eot?#iefix") format("eot"),
  url("fonts/Emberly-Black.woff2") format("woff2"),
  url("fonts/Emberly-Black.woff") format("woff"),
  url("fonts/Emberly-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Emberly-BlackNarrow";
  src: url("fonts/Emberly-BlackNarrow.svg");
  src: url("fonts/Emberly-BlackNarrow.eot?#iefix") format("eot"),
  url("fonts/Emberly-BlackNarrow.woff2") format("woff2"),
  url("fonts/Emberly-BlackNarrow.woff") format("woff"),
  url("fonts/Emberly-BlackNarrow.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Roman";
  src: url("fonts/HelveticaNeueLTGEO-55Roman.svg");
  src: url("fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix") format("eot"),
  url("fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
  url("fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
  url("fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Medium";
  src: url("fonts/HelveticaNeueLTGEO-65Medium.svg");
  src: url("fonts/HelveticaNeueLTGEO-65Medium.eot?#iefix") format("eot"),
  url("fonts/HelveticaNeueLTGEO-65Medium.woff2") format("woff2"),
  url("fonts/HelveticaNeueLTGEO-65Medium.woff") format("woff"),
  url("fonts/HelveticaNeueLTGEO-65Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("fonts/HelveticaNeueLTGEO-75Bold.svg");
  src: url("fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix") format("eot"),
  url("fonts/HelveticaNeueLTGEO-75Bold.woff2") format("woff2"),
  url("fonts/HelveticaNeueLTGEO-75Bold.woff") format("woff"),
  url("fonts/HelveticaNeueLTGEO-75Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PublicSans-Light";
  src: url("fonts/PublicSans-Light.svg");
  src: url("fonts/PublicSans-Light.eot?#iefix") format("eot"),
  url("fonts/PublicSans-Light.woff2") format("woff2"),
  url("fonts/PublicSans-Light.woff") format("woff"),
  url("fonts/PublicSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "PublicSans-Thin";
  src: url("fonts/PublicSans-Thin.svg");
  src: url("fonts/PublicSans-Thin.eot?#iefix") format("eot"),
  url("fonts/PublicSans-Thin.woff2") format("woff2"),
  url("fonts/PublicSans-Thin.woff") format("woff"),
  url("fonts/PublicSans-Thin.ttf") format("truetype");
}

.emberly-black {
  font-family: Emberly-Black, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}


.emberly-black-narrow {
  font-family: Emberly-Black, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.helvetica-roman {
  font-family: Helvetica-Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.helvetica-bold {
  font-family: Helvetica-Bold, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.helvetica-medium {
  font-family: Helvetica-Medium, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.public-sans-light {
  font-family: PublicSans-Light, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.public-sans-thin {
  font-family: PublicSans-Thin, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}


