
@media screen and (max-height: 650px) {

    .decentralized-wrapper img {
        max-height: 180px;
    }

    .description-container .fs-18 {
        font-size: 14px;
    }

    .fs-30 {
        font-size: 16px;
    }

    /*.fs-18 {*/
        /*font-size: 14px;*/
    /*}*/

    .job-container .number {
        bottom: 5%;
    }

    .number {
        width: 45px;
        height: 45px;
    }

    .number img {
        max-width: 20px;
    }

    .scroll-down img {
        max-width: 20px;
    }

    /*.arrows img {*/
    /*max-width: 70%;*/
    /*}*/

    .scroll-down {
        height: 100px;
    }


}

@media screen and (max-width: 900px) {

    .fs-16 {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 24px;
    }

    .fs-46 {
        font-size: 46px;
    }

    .fs-60 {
        font-size: 60px;
    }

    .talk-container .fs-60 {
        font-size: 100px;
    }

    .talk-container .inner-container p {
        width: 80%;
        margin-left: 20%;
    }

    .main-container {
        height: auto;
        position: relative;
        flex-wrap: wrap;
    }

    .logo-container {
        width: 33%;
    }

    .wrapper-for-responsive {
        width: 67%;
        flex-wrap: wrap;
    }

    .about-container {
        width: 100%;
    }

    .we-do-container {
        width: 100%;
        border: none;
    }

    .contact-wrapper {
        width: 100%;
    }

    .p-wrapper {
        width: auto;
    }

    .scroll-down {
        display: flex;
        width: 100%;
        height: 150px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid rgba(255, 255, 255, .3);
        border-bottom: none;
    }

    .job-container {
        height: calc(100% - 150px);
        border-right: 1px solid rgba(255, 255, 255, .3);
    }

    .description-container {
        height: calc(100% - 150px);
    }

    .scroll-down img {
        transform: rotate(180deg);
    }

    .job-container .number {
        bottom: 8%;
        left: -50%;
        transform: translate(-50%, 0);
    }

    .number {
        width: 65px;
        height: 65px;
    }

    .description-container span {
        line-height: 2.3;
    }

    .job {
        bottom: 8%;
    }

    .about-container {
        border: none;
        margin-top: 50px;
    }

    .about-container .header h1 {
        font-size: 46px;
    }

    .about-container .header {
        padding: 31px 0;
        border-top: 1px solid rgba(255, 255, 255, .3);
        text-align: left;
    }

    .about-container .mid-section {
        padding: 50px 0 20px;
    }

    .about-container .bottom {
        padding: 0;
        width: 100%;
        max-height: none;
    }

    .about-container .number {
        top: auto;
        bottom: 35vh;
        transform: translate(-50%, calc(100% + 20px));
        left: 50px;
        z-index: 1;
    }

    .we-do-container .number {
        bottom: auto;
        left: auto;
        transform: translate(0, -50%);
        right: 0;
        top: 130px;
    }

    .we-do-container .rotated {
        position: relative;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .p-wrapper {
        transform: rotate(0);
        position: relative;
        width: 100%;
        text-align: left;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        padding: 40px 10px;
    }

    .p-wrapper p {
        display: none;
    }

    .p-wrapper ul {
        display: block;
    }

    .p-wrapper ul {
        /*list-style: '*';*/
        list-style-image: url("../../static/star.svg");
        text-indent: 20px;
        line-height: 2.3;
    }

    .we-do {
        bottom: 0;
        left: 0;
        /* left: 100%; */
        transform: rotate(0);
        position: relative;
        padding: 30px 0;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, .3);
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .line {
        display: none;
    }

    .contact-wrapper {
        width: 100%;
        margin-top: 60px;
        border-left: none;
    }

    .contact-us .contact {
        width: 100%;
        margin-left: 0;
        height: 100%;
    }

    .contact-us {
        width: 100%;
    }

    .contact-us .inner-container p {
        transform: rotate(0) translate(0, 100%);
        bottom: 54px;
        left: 30px;
    }

    .arrows {
        height: 150%;
        transform: rotate(180deg) translate(0, -17%);
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .arrows img {
        max-width: 100%;
    }

    .inner-container {
        overflow: hidden;
        position: relative;
    }

    .talk-container .number {
        display: none;
    }


    .mail-container {
        flex-direction: row;
    }

    .mail-container span {
        /*margin-right: 20px;*/
        /*margin-top: 0;*/
    }

    .talk-container {
        height: auto;
        padding-top: 50px;
        margin-top: 60px;
        border-top: 1px solid rgba(255, 255, 255, .3);
    }

    .contact-container {
        height: 28vh;
    }

    .contact-container .number {
        top: calc(100% + 110px);
        left: 0;
        transform: translateX(0);
    }

    .who-we-are {
        display: none;
    }

    .logo-container img {
        max-width: none;
    }

    .decentralized-wrapper img {
        max-height: 225px;
    }

    .mail-container img {
        max-width: 40px;
    }

    .contact-us .contact:before {
        background-image: url('../../static/bg1-rotated.png');
    }

    .we-do-container .number.desktop {
        display: none;
    }

    .we-do-container .number.responsive {
        display: flex;
        top: auto;
        transform: translate(0, 0);
    }

    .description-container .fs-18 {
        font-size: 24px;
    }

}

@media screen and (max-width: 768px) {

    .fs-46, .about-container .header h1 {
        font-size: 10.1vw;
    }

}

@media screen and (max-width: 600px) {

    .talk-container .fs-60 {
        font-size: 60px;
    }

}

@media screen and (max-width: 500px) {


}

@media screen and (max-width: 480px) {

    .fs-16 {
        font-size: 14px;
    }

    .fs-18 {
        font-size: 16px;
    }

    .fs-30 {
        font-size: 20px;
    }

    /*.fs-46 {*/
    /*font-size: 36px;*/
    /*}*/
    .fs-60 {
        font-size: 40px;
    }

    /*.about-container .header h1 {*/
    /*font-size: 36px;*/
    /*}*/
    .main-container {
        padding: 5vh 7.5vw;
    }

    .scroll-down img {
        max-width: 30px;
    }

    .about-container .number {
        left: 40px;
    }

    .we-do-container .number {
        top: 108px;
    }

    .we-do {
        padding: 25px 0;
    }

    .p-wrapper {
        padding: 30px 22px;
    }

    .p-wrapper ul {
        line-height: 2.1;
    }

    .contact-wrapper {
        margin-top: 40px;
    }

    .talk-container {
        margin-top: 40px;
    }

    .contact-container .number {
        top: calc(100% + 90px);
    }

    .number {
        width: 50px;
        height: 50px;
    }

    .logo-container {
        width: 33%;
        height: 90vh;
    }

    .decentralized-wrapper img {
        max-height: 200px;
    }

    .main-container {
        padding: 7vh 7.5vw;
    }

}

@media screen and (max-width: 400px) {

    .mail-container span {
        /*margin-right: 10px;*/
    }

    .mail-container img {
        max-width: 25px;
        margin-bottom: 3px;
    }

    .talk-container .fs-60 {
        font-size: 50px;
    }


}

@media screen and (max-width: 340px) {

    .fs-16 {
        font-size: 12px;
    }

    .mail-container span {
        /*margin-right: 0;*/
        /*margin-top: 10px;*/
    }

    .mail-container {
        flex-direction: column-reverse;
    }

    .about-container .mid-section {
        padding: 35px 0 20px;
        margin-bottom: 15px;
    }

    .we-do {
        margin-top: 45px;
    }

    .scroll-down img {
        max-width: 20px;
    }

    .fs-30 {
        font-size: 16px;
    }
}

@media screen and (max-height: 800px) and (max-width: 900px){

    .description-container .fs-18 {
        font-size: 16px;
    }

    .job-container {
        height: calc(100% - 100px);
    }

    .description-container {
        height: calc(100% - 100px);
    }

    .scroll-down {
        height: 100px;
    }
}
