@font-face {
    font-family: 'Emberly';
    src: url('Emberly-Black.eot');
    src: url('Emberly-Black.eot?#iefix') format('embedded-opentype'),
    url('Emberly-Black.woff2') format('woff2'),
    url('Emberly-Black.woff') format('woff'),
    url('Emberly-Black.ttf') format('truetype'),
    url('Emberly-Black.svg#Emberly-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO';
    src: url('HelveticaNeueLTGEO-55Roman.eot');
    src: url('HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueLTGEO-55Roman.woff2') format('woff2'),
    url('HelveticaNeueLTGEO-55Roman.woff') format('woff'),
    url('HelveticaNeueLTGEO-55Roman.ttf') format('truetype'),
    url('HelveticaNeueLTGEO-55Roman.svg#HelveticaNeueLTGEO-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Thin.eot');
    src: url('PublicSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('PublicSans-Thin.woff2') format('woff2'),
    url('PublicSans-Thin.woff') format('woff'),
    url('PublicSans-Thin.ttf') format('truetype'),
    url('PublicSans-Thin.svg#PublicSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO';
    src: url('HelveticaNeueLTGEO-75Bold.eot');
    src: url('HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueLTGEO-75Bold.woff2') format('woff2'),
    url('HelveticaNeueLTGEO-75Bold.woff') format('woff'),
    url('HelveticaNeueLTGEO-75Bold.ttf') format('truetype'),
    url('HelveticaNeueLTGEO-75Bold.svg#HelveticaNeueLTGEO-75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO';
    src: url('HelveticaNeueLTGEO-65Medium.eot');
    src: url('HelveticaNeueLTGEO-65Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueLTGEO-65Medium.woff2') format('woff2'),
    url('HelveticaNeueLTGEO-65Medium.woff') format('woff'),
    url('HelveticaNeueLTGEO-65Medium.ttf') format('truetype'),
    url('HelveticaNeueLTGEO-65Medium.svg#HelveticaNeueLTGEO-65Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Emberly';
    src: url('Emberly-BlackNarrow.eot');
    src: url('Emberly-BlackNarrow.eot?#iefix') format('embedded-opentype'),
    url('Emberly-BlackNarrow.woff2') format('woff2'),
    url('Emberly-BlackNarrow.woff') format('woff'),
    url('Emberly-BlackNarrow.ttf') format('truetype'),
    url('Emberly-BlackNarrow.svg#Emberly-BlackNarrow') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('PublicSans-Light.eot');
    src: url('PublicSans-Light.eot?#iefix') format('embedded-opentype'),
    url('PublicSans-Light.woff2') format('woff2'),
    url('PublicSans-Light.woff') format('woff'),
    url('PublicSans-Light.ttf') format('truetype'),
    url('PublicSans-Light.svg#PublicSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

